<h1><%= t('home.header_text') %></h1>
<p><%= t('home.intro_text') %></p>
<table  class="table table-hover">
  <thead>
    <tr>
      <th><%= t('user.name') %></th>
      <th><%= t('user.email') %></th>
      <th><%= t('user.join_date') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Angular App:: User search</h1>
<div class="container-fluid" ng-app="home">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>
